
<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Danielle Friedrich</mat-card-title>
          <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image 
        src="/assets/DanielleFriedrich.png" alt="Foto Danielle Friedrich">
        <mat-card-content>
          <p>

          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary"> <a href="https://github.com/mevrgior/star-wars">Github</a></button>
          <button mat-button color="primary"><a href="https://www.linkedin.com/in/danielle-friedrich-83784a6b/">LinkedIn</a></button>
        </mat-card-actions>
      </mat-card>
</div>
