.wrapper {
  display: flex;
  position: relative;
}
button{
  margin-right: 10px;
}
  
mat-list-item {
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
  }
}

.list-container{
  width: 40%;
  padding: 10px;
}
  
.details-container {
  width: 300px;
  height: 300px;
  position: sticky;
  right: 0;
  top: 250px;
  padding: 10px;
  p {
    margin: 5px 0;
  }
}

.mat-mdc-card-title{
  padding: 10px;
}

  