@if(vm$ | async; as vm){
    <!-- <div>
        {{vm | json}}
    </div> -->
  <button mat-raised-button (click)="onLoadPeople()" [disabled]="vm.isLoadingPeople">Load People</button>
  <button mat-raised-button color="primary" (click)="openAddPerson()">Add Person</button>

  <div class="wrapper">
    <div class="list-container">
      <h2>Star Wars Characters</h2>
      @if(vm.isLoadingPeople){
        <mat-spinner></mat-spinner>
      }
      <mat-selection-list role="list">
        @for(person of vm.people; track $index) {
          <mat-list-item role="listitem"(click)="loadPersonDetails(person)">{{ person.name }}</mat-list-item>
        }
      </mat-selection-list>
    </div>
    <div class="details-container">
      @if(vm.selectedPerson) {
        <mat-card>
          <mat-card-title>{{ vm.selectedPerson.name }}</mat-card-title>
          <mat-card-content>        
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
              <mat-chip>
                <p><strong>Height:</strong> {{ vm.selectedPerson.height }}</p>
              </mat-chip>
              <mat-chip>
                <p><strong>Mass:</strong> {{ vm.selectedPerson.mass }}</p>
              </mat-chip>
              <mat-chip>
                <p><strong>Birth Year:</strong> {{ vm.selectedPerson.birth_year }}</p>
              </mat-chip>
              <mat-chip>
                <p><strong>Gender:</strong> {{ vm.selectedPerson.gender }}</p>
              </mat-chip>
            </mat-chip-listbox>
          </mat-card-content>
            
        </mat-card>
      }
    </div>
  </div>
}
